#!/usr/bin/env bash

set -euo pipefail

PID="$(ps aux | grep elasticsearch | grep -v -e grep -e x-pack | awk '{print $2}' | head -n 1)"
if [[ -z "$PID" ]]; then
    echo "ElasticSearch process not found"
    exit 1
fi

if [[ $# -lt 2 ]]; then
    echo "Usage: $0 <track> <challenge>"
fi

DIRECTORY="/var/peio/profile/$1"
mkdir -p "$DIRECTORY"
chown elasticsearch:elasticsearch "$DIRECTORY"

OUTPUT="$DIRECTORY/$2.svg"

echo "Found ElasticSearch process: $PID"
echo "Recording events to $OUTPUT..."

exec /usr/local/share/async-java-profiler/extracted/profiler.sh \
  -i 9999us \
  -f "$OUTPUT" \
  -d 300 \
  "$PID"
